<% _product = defined?(product) ? product : @product %>
<% if @deal ||= _product.active_deal %>
  <span class="price selling" itemprop="price"><%= number_to_currency @deal.price %></span>
  <span class="price list" itemprop="price"><%= number_to_currency @deal.list_price %></span>
  <span class="price selling" itemprop="price"><%= number_to_percentage @deal.percent, :precision => 0 %></span>
<% else %>
  <span class="price selling" itemprop="price"><%= number_to_currency _product.price %></span>
<% end %>
