/*
 *= require store/spree_core
*/
.price.list, ul#products .price.list {
  text-decoration: line-through;
  color: red;
}

#product-price {
  float:left;
  margin-right: 10px;
}

ul#deal_info {
  padding-top: 20px;
}

ul#deal_info li {
  float:left;
  width: 70px;
  min-height: 50px;
  text-align: center;
}

ul#deal_info li span.value{
  display: block;
}

ul#products li .price {
  display: inline-block;
}

table.order-summary tbody tr td a {
color: #00ADEE;
}